@keyframes expand-circle {
  0% {
    r: 0px;
  }
  100% {
    r: 1300px;
  }
}

@keyframes shirink-circle {
  from {
    r: 1300px;
  }
  to {
    r: 0px;
  }
}

@keyframes squiggly-text {
  0% {
    filter: url("#squiggly-0");
  }
  25% {
    filter: url("#squiggly-1");
  }
  50% {
    filter: url("#squiggly-2");
  }
  75% {
    filter: url("#squiggly-3");
  }
  100% {
    filter: url("#squiggly-4");
  }
}
